h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: 'Ultra', sans-serif;
    color: #f1aae0;
    -webkit-text-stroke: 2px #8f0a36
}
#inicio {
  list-style: none;      
  display: flex;         
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #8f0a36;
}
#inicio a{
      color: aliceblue;
      text-decoration: none;
}

body {
    background-color: #f1aae0;
    flex-wrap: wrap;
}

#about {
    display: grid;
    grid-template-columns: 1fr 550px;
     /*place-items: center; podría ir acá, place-items no funciona en el img directamente       
                       place-items solo funciona en contenedores Grid, no en elementos individuales. 
                    o puedes usar Usar justify-self y align-self para centrar solo ese elemento.*/
}
#about img {
    width: 450px;
    height: 300px;
    grid-column: 1/2;
    justify-self: center;
}
#about p {
    grid-column: 2/3;
    font-size: 20px;
    align-self: center;
}
h2 {
    color: rgb(107, 5, 30);
    margin: 20px;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(0, 0, 0)    /*sirve para ponerle borde*/
    

}
.pelicula {
    width: 100%;
    text-align: center;
    font-weight: 1000;
}
.pelicula img {
    width: 250px;
    height: 350px;
    object-fit: cover;  /*me sirvió para que esten todos de misma altura y q corresponda*/
    display: block;
    margin: 0 auto;
}

.peliculas {
  display: grid;
  grid-template-columns:250px 250px 250px 1fr;
  grid-template-rows: repeat(3,120px);
  gap: 20px;
}
.opiniones {
    display: grid;
    grid-template-rows: repeat(3,120px);
    gap: 20px
}
.opinion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #c91c55;
    color: aliceblue;
    background-size: 100%;
    border-radius: 10px 60px 30px;
    font-size: 17px;
}


.canciones {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;

}
.cancion img {
    width: 220px;
    height: 220px;
}
.letra {
    width: 200px;
    height:80px;
    border-radius: 100px;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canciones .letra:nth-child(2) { background-color: rgb(5, 5, 5); }
.canciones .letra:nth-child(4) { background-color: orange; }
.canciones .letra:nth-child(6) { background-color: rgb(91, 156, 148); }

.canciones .letra:nth-child(2) a { color: aliceblue;}
.canciones .letra:nth-child(4) a {color: red;}
.canciones .letra:nth-child(6) a {color: yellow;}

.boton {
    background-color: #8f0a36;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 50px;
}
.boton a {
    text-decoration: none;
    color:aliceblue
}
#top-cantantes li {
    font-size: 25px;
}
footer {
  background-color: #8f0a36;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}